{% extends 'base.html' %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{{ static('css/style.css') }}">
{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<p id="answer_text"></p>
			<form action="." method="POST">
			 	<label>
					<p class="label-txt">Note name</p>
					<br>
					<input id="name" name="name" type="text" class="input">
					<div class="line-box">
					  <div class="line"></div>
					</div>
			 	</label>
			 	<button type="submit">submit</button>
				<br>
				<hr>
				<a href="/note/{{note_id}}">{{note_name}}</a>
			</form>
		</div>
	</div>

	<script>
		$(document).ready(function () {
			$('form').on('submit', function (event) {
				$.ajax({
					data: {
						location : $('#name').val(),
					},
					type: 'POST',
					url: '/'
				})
					.done(function (data) {
					   $('#answer_text').html(data.answer).show();

					})
				event.preventDefault();
			})
		})
	</script>

{% endblock %}
