{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{{ static('css/style_to_do.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="todolist not-done">
                 <h1>Todos</h1>
                    <form action="/note/{{id}}" method="POST">
                        <input id="name" name="name" type="text" class="form-control add-todo" placeholder="Add todo">
                        <br>
                        <button class="btn btn-outline-success" type="submit">Add</button>
                    </form>
                        <hr>
                        <ul id="sortable" class="list-unstyled">

                        {% for todo in todo_list %}
                             <li>
                                <p style="font-size: 24px;">{{todo.name}}</p>
                                 <a style="margin-top: 5px;" class="btn btn-sm btn-outline-danger" href="/note/delete/{{todo._id}}">Delete</a>
                            </li>
                            <hr>
                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>
    </div>

	<script src="{{ static('js/js_to_do.js') }}"></script>
{% endblock %}
